<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2025. Tobe Wang
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhaofd.demomybatisplusweb.modules.demo.mapper.SysUserMapper">
    <!-- resultMap -->
    <resultMap id="mapSysUser" type="SysUser">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="regtime" column="regtime"/>
    </resultMap>

    <!-- procedure -->
    <select id="procUser" resultMap="mapSysUser" statementType="CALLABLE">
        {call proc_user(#{name,mode=IN,javaType=String,jdbcType=VARCHAR})}
    </select>
</mapper>
